
:root {
  --text_font_size: 16px;
  --max_translation_width: 250px;
}


* {
   font-size: var(--text_font_size);
   /*font-family: "Times New Roman", Times, serif;*/
   font-family: Helvetica, Arial, Sans-Serif;
}

h2 {
    font-size: calc(2*var(--text_font_size));
}


p.title {
    font-size: calc(1.6*var(--text_font_size));
    font-weight: bold;
    margin-bottom:0 ;
}

p.artist {
    font-size: calc(0.80*var(--text_font_size));
    font-style: italic;
    margin:0 ;
}

p.capo {
    font-size: calc(0.75*var(--text_font_size));
    margin:0 ;
}


p.chorus {
    font-style: italic;
}

p.verse {

}

p.translation {
    background-color:rgba(201,201,201,0.3);
    font-size: calc(0.75*var(--text_font_size));

}


p.chorus span {
    display: none;
}

p.verse span {
    display: none;
}

p.show-chords span {
  position: relative;
  top: calc(-0.5*var(--text_font_size));
  display:inline-block;
  width: 0;
  overflow:visible;
  line-height: calc(var(--text_font_size) + 1.1em);
  vertical-align: bottom;
  font-weight: bold;
  white-space:nowrap;
  font-size: calc(0.75*var(--text_font_size));
}